## Generic files to ignore ##
*~
*.lock
*.DS_Store
*.swp
*.out

# Maven
log/
target/


## Operating System Specific ##

# Windows stuff
Thumbs.db
Desktop.ini

# Mac OSX stuff
*.DS_Store


## Java specific ##

# Package Files #
*.jar
*.war
*.ear

# Others #
*.class


## IDE Specific ##

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Netbeans
nbproject/
